<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!-- 삼성웰스토리 테스트 DB -->
    <!--
    <add name="CMS_DB" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=11.71.200.145)(PORT=11522))(CONNECT_DATA=(SERVICE_NAME=evmd)));User Id=did;Password=apsbdid2018!;"/>
    -->
    <!-- 리테일테크 테스트 DB -->
    <!--
    <add name="CMS_DB" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=222.239.224.42)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=ORANEW11)));User Id=DID;Password=did1234;" />
	-->
    <!-- VM PostgreSQL DB 원격 접속 -->
    <add name="CMS_DB" connectionString="Host=localhost;Port=6544;Database=postgres;Username=dbuser;Password=dbuser1234!@#$;SearchPath=did;Timeout=30;CommandTimeout=30;" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 로컬 개발 환경 설정 -->
	 <!--
    <add key="HTTP_DOMAIN_URL" value="https://localhost:44338" />
    <add key="HTTPS_DOMAIN_URL" value="https://localhost:44338" />
    <add key="INTERNAL_DOMAIN_URL" value="https://localhost:44338" />
	-->
    <!-- VM 테스트 환경 -->
    <add key="HTTP_DOMAIN_URL" value="http://210.219.229.46:8082" />
    <add key="HTTPS_DOMAIN_URL" value="http://210.219.229.46:8082" />
    <add key="INTERNAL_DOMAIN_URL" value="http://127.0.0.1:8082" />
    <!-- 운영 -->
    <!--
    <add key="HTTP_DOMAIN_URL" value="http://weldid.welstory.com:8080" />
    <add key="HTTPS_DOMAIN_URL" value="https://weldid.welstory.com:8443" />
    -->
  </appSettings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576000" requestValidationMode="2.0" executionTimeout="300" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="ko-KR" uiCulture="ko-KR" />
    <sessionState timeout="60" mode="InProc" />
    <!-- 상세 오류 메시지 확인을 위한 설정 (개발/디버깅용) -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes (B)  -->
        <requestLimits maxAllowedContentLength="2147483648" />
        <!-- 2.147483648 GB -->
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 332BB6ED-395D-4000-B5AC-425775AD9D07-->
