

@{
    ViewBag.Title = "Index";
}

@section navi
{
    <div class="current">
        <img src="../images/home.png" alt=""><h1><span>One depth menu> Two depth menu> </span><strong>Three depth menu</strong></h1>
    </div>
}

<h2>Index</h2>

Welcome 