<!doctype html>
<html>
 <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1080, user-scalable=yes"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>만족도조사형(입구)_세로형_1X5</title>

<style type="text/css">
	@font-face {font-family:'NanumBarunGothic';font-style:normal;src:url('https://weldid.welstory.com:8443/fonts/NanumBarunGothic.eot');src:local(※), url('https://weldid.welstory.com:8443/fonts/NanumBarunGothic.woff') format('woff'),url('https://weldid.welstory.com:8443/fonts/NanumBarunGothic.ttf') format('truetype');}
	* {margin:0;padding:0;list-style:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
	html,body {position:relative;width:100%;height:100%;}
	a {text-decoration:none;color:inherit;}
	#layer {position:relative;width:100%;height:100%;min-width:1080px;min-height:1920px;padding: 3% 7% 3% 7%;margin:0 auto;font-family:'NanumBarunGothic', '돋움', '굴림', sans-serif;background-image:url('images/bg_ver.jpg');line-height:normal;-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
	.layer_wrap {position:relative;width:100%;height:100%;}
	.layer_wrap .menuList {position:relative;width:100%;height: 16%;min-height: 343px;margin: 0 auto 3.7% auto;padding: 30px 30px 30px 420px;background-color:#fff;box-shadow:4px 4px 10px 2px #bebcb6;}
	.layer_wrap .menuList:last-child {margin-bottom: 0;}
	.layer_wrap .menuList:after{content:"";display:block;clear:both;}
	.menuList > div {position:relative;display:flex;align-items:center;justify-content:center;background-color:#e6e6e6;border:1px solid #bebebe;color:#555;font-weight:900;}
	.menuList .area_name {position:absolute;top:5px;right:5px;font-size:12px;color:#444;word-wrap:break-word;}
	.menuList .area_explain {width:100%;color:#444;text-align:center;word-wrap:break-word;}
	.menuList span.tit_val {display:none}
	.menuImage {position:absolute !important;top: 56.5px;left:30px;width:360px;height: 230px;font-size:14px;}
	.menuImage img {width:360px;height:230px;}
	.menuName {width:100%;height:70px;font-size:30px;letter-spacing:2px;}
	.menuNameEng {height:36px;margin-top:0.5em;width:100%;font-size:19px;color:#5d5c5e;line-height:18px;}
	.satisfaction {clear: both;padding: 3% 0 0 0;height:auto !important;background-color:transparent !important;text-align:center;border:0 !important;}
	.satisfaction > p {position:relative;display:inline-block;width: 30%;height: 160px;margin: 0 4%;background-repeat:no-repeat;background-position:center center;background-size:contain;color: #494949;}
	.satisfaction > p.satisfactionType1 {background-image:url("images/emoticon_2_1.jpg");}
	.satisfaction > p.satisfactionType2 {background-image:url("images/emoticon_3_1.jpg");}
	.satisfaction > p.satisfactionType3 {background-image:url("images/emoticon_4_1.jpg");}
	.satisfaction .score {display:block;position:absolute;width:100%;bottom: 10px;font-size: 25px;font-weight:bold;text-align:center;}
	.menuList .active,.menuList .active .area_explain {background-color:transparent !important;border-color:transparent !important;text-align:left;}
	.menuList .active .area_name,.menuList .active span.tit_blk {display:none;}
	.menuList .active span.tit_val {display:block;}
	.menuList .menuImage.active .area_explain .tit_val {text-align:center;}
	.menuList .select,.menuList .menu_logo.select .area_explain{border:1px solid #f7960c !important;background-color:#ffc36e !important;}
	/* system 레이어 */
	.frame_r .content .sub_cnt_tem {width: 100%;background-image:url('images/bg_ver.jpg');}
	.frame_r .content .sub_cnt_tem #layer {width:1080px;background-image:none;}
</style>
</head>
<body>
<input type="hidden" id="LAYOUT_HV_TYPE" value="V">
<input type="hidden" id="LAYOUT_H_BY_V" value="1x5">
<input type="hidden" id="SCREEN_X" value="1080">
<input type="hidden" id="SCREEN_Y" value="1920">
<div id="layer">
	<div class="layer_wrap">
		<!-- 첫번째 메뉴 -->
		<div class="menuList">
			<div class="menuImage"><p class="area_name">CA1</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="image"></span></p></div>
			<div class="menuName"><p class="area_name">CA1</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="22"></span></p></div>
			<div class="menuNameEng"><p class="area_name">CA1</p><p class="area_explain"><span class="tit_blk">ENG Title</span><span class="tit_val" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="ename" data-contetns-area-length="27"></span></p></div>
			<div class="satisfaction">
				<p class="satisfactionType1"><span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score1">0</span></p>
				<p class="satisfactionType2"><span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score2">0</span></p>
				<p class="satisfactionType3"><span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score3">0</span></p>
			</div>
		</div>

		<!-- 두번째 메뉴 -->
		<div class="menuList">
			<div class="menuImage"><p class="area_name">CA2</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="image"></span></p></div>
			<div class="menuName"><p class="area_name">CA2</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="22"></span></p></div>
			<div class="menuNameEng"><p class="area_name">CA2</p><p class="area_explain"><span class="tit_blk">ENG Title</span><span class="tit_val" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="ename" data-contetns-area-length="27"></span></p></div>
			<div class="satisfaction">
				<p class="satisfactionType1"><span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score1">0</span></p>
				<p class="satisfactionType2"><span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score2">0</span></p>
				<p class="satisfactionType3"><span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score3">0</span></p>
			</div>
		</div>

		<!-- 세번째 메뉴 -->
		<div class="menuList">
			<div class="menuImage"><p class="area_name">CA3</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="image"></span></p></div>
			<div class="menuName"><p class="area_name">CA3</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="22"></span></p></div>
			<div class="menuNameEng"><p class="area_name">CA3</p><p class="area_explain"><span class="tit_blk">ENG Title</span><span class="tit_val" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="ename" data-contetns-area-length="27"></span></p></div>
			<div class="satisfaction">
				<p class="satisfactionType1"><span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score1">0</span></p>
				<p class="satisfactionType2"><span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score2">0</span></p>
				<p class="satisfactionType3"><span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score3">0</span></p>
			</div>
		</div>

		<!-- 네번째 메뉴 -->
		<div class="menuList">
			<div class="menuImage"><p class="area_name">CA4</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="image"></span></p></div>
			<div class="menuName"><p class="area_name">CA4</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="22"></span></p></div>
			<div class="menuNameEng"><p class="area_name">CA4</p><p class="area_explain"><span class="tit_blk">ENG Title</span><span class="tit_val" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="ename" data-contetns-area-length="27"></span></p></div>
			<div class="satisfaction">
				<p class="satisfactionType1"><span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score1">0</span></p>
				<p class="satisfactionType2"><span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score2">0</span></p>
				<p class="satisfactionType3"><span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score3">0</span></p>
			</div>
		</div>

		<!-- 다섯번째 메뉴 -->
		<div class="menuList">
			<div class="menuImage"><p class="area_name">CA5</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="image"></span></p></div>
			<div class="menuName"><p class="area_name">CA5</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="22"></span></p></div>
			<div class="menuNameEng"><p class="area_name">CA5</p><p class="area_explain"><span class="tit_blk">ENG Title</span><span class="tit_val" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="ename" data-contetns-area-length="27"></span></p></div>
			<div class="satisfaction">
				<p class="satisfactionType1"><span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score1">0</span></p>
				<p class="satisfactionType2"><span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score2">0</span></p>
				<p class="satisfactionType3"><span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score3">0</span></p>
			</div>
		</div>

	</div>
</div>
</body>
</html>