



 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1920, user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>삼성전자_메뉴평가_12EA</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready( function() {
  $('.menuList').click( function() {
    var element = this;
    $(element).addClass('choice fadeIn2');
      setTimeout( function(){
        $(element).removeClass('choice fadeIn2');
      }, 4000 );
    });

	$('.satisfaction>div').click( function() {
    var satisfaction = $(this);
    $(satisfaction).delay(4000).addClass('blink');
      setTimeout( function(){
        $(satisfaction).removeClass('blink');
      }, 4000 );
    });
});
</script>
<style type="text/css">
	@font-face {font-family:'NanumBarunGothic';font-style:normal;src:url('https://weldid.welstory.com:8443/fonts/NanumBarunGothic.eot');src:local(※), url('https://weldid.welstory.com:8443/fonts/NanumBarunGothic.woff') format('woff'),url('https://weldid.welstory.com:8443/fonts/NanumBarunGothic.ttf') format('truetype');}
	* {margin:0;padding:0;list-style:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
	html,body {position:relative;width:100%;height:100%;display:flex;}
	a {text-decoration:none;color:inherit;}
	#layer {position:relative;width:100%;height:100%;min-width:1920px;min-height:1080px;margin:0 auto;font-family:'NanumBarunGothic', '돋움', '굴림', sans-serif;line-height:normal;overflow: hidden;}
	.menu_wrap {position:relative;width: 80%;height: 100%;float: left;}
	.ranking_wrap {display: block;position: relative;width: 20%;height: 100%;float: left;display: block;}
	.title {height: 75px;line-height: 75px;text-align: center;color: #fff;font-size: 32px;font-family:'NanumBarunGothic', '돋움', '굴림', sans-serif;}
	.menu, .ranking {width: 100%;position: absolute;top: 75px;bottom: 0;margin: auto;}
	.menu_wrap .title {background-color: #f17207;}
	.ranking_wrap .title {background-color: #21232f;}
	.menu {padding: 20px;background: #e9ecef;position: absolute;z-index: 000;}
	.ranking {background:#31333f;}
	.menuList {position:relative;float: left;width:32.6666%;height:230px;margin-right: 1%;margin-bottom: 1%;min-height: 0px;background-color:#fff;box-shadow:2px 2px 3px 0px #cacaca;--borderWidth: 8px;position: relative;}
	.menuList {position:relative;float: left;width:32.6666%;height:230px;margin-right: 1%;margin-bottom: 1%;min-height: 0px;background-color:#fff;box-shadow:2px 2px 3px 0px #cacaca;border-width: 3px;position: relative;border-radius: var(border-width);}
	.menuList.choice:after {content:'';position: absolute;z-index: -1;margin-left: -8px;margin-top: -8px;width: 504.59px;height: 246px;color: #fff;background: linear-gradient(-45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);background-size: 400% 400%;-webkit-animation: Gradient 5s ease infinite normal;-moz-animation: Gradient 5s ease infinite normal;animation: Gradient 5s ease infinite normal;}
	@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	0% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
	.menu_wrap .menuList:nth-child(3n+0) {margin-right: 0;}
	.menu_wrap .menuList:nth-child(4),.layer_wrap .menuList:nth-child(5),.layer_wrap .menuList:nth-child(6) {margin-bottom: 0;}
	.menuList > div {align-items:center;justify-content:center;background-color:#e6e6e6;border:1px solid #bebebe;color:#555;font-weight:900;}
	.menuList > div:not(.satisfaction) {display:flex;}
	.menuList .area_name {position:absolute;top:5px;right:5px;font-size:12px;color:#444;word-wrap:break-word;}
	.menuList .area_explain {width:100%;color:#444;text-align:center;word-wrap:break-word;font-size:15px !important;}
	.menuList span.tit_val {display:none}
	.menuImage {position:absolute !important;top: 19px;left: 20px;width: 245px;height: 142px;}
	.menuImage img {max-width:245px;max-height:142px;}
	.menuName {position: absolute !important;width:245px;height:40px;bottom: 15px;left: 20px;}
	.menuName .tit_val {letter-spacing:-2px;font-size:23px;text-align: center;}
	.satisfaction {position: absolute;width:200px;height:195px;background-color:transparent !important;text-align:center;border:0 !important;top: 19px;right: 15px;}
	.satisfaction > div {position:relative;margin-top: 2%;height: 18.4%;color: #494949;cursor: pointer;}
	.satisfaction > div:first-child {margin: 0%;}
	.satisfaction > div > div {float: left;width: 70%;height: 100%;margin-right: 5%;}
	.satisfaction > div > div > p {height:50%;background-repeat:no-repeat;background-position:0 top;}
	.satisfaction > div.satisfactionType1 > div > p {background-image: url('images/star5.png');background-size: 75px;}
	.satisfaction > div.satisfactionType2 > div > p {background-image: url('images/star4.png');background-size: 60px;}
	.satisfaction > div.satisfactionType3 > div > p {background-image: url('images/star3.png');background-size: 45px;}
	.satisfaction > div.satisfactionType4 > div > p {background-image: url('images/star2.png');background-size: 30px;}
	.satisfaction > div.satisfactionType5 > div > p {background-image: url('images/star1.png');background-size: 15px;}
	.satisfaction > div > div > .graph {width: 100%;height: 11px;margin-top: 5px;background-color: #e2e2e2;border-radius:50px;position: relative;}
	.satisfaction > div > div > .graph .bar {width: 0%;max-width:100%;height: 100%;position: absolute;top: 0;background-color: #ffcd01;border-radius:50px;left: 0;z-index: 1;}
	.satisfaction .score {float: left;width:25%;height: 100%;line-height: 40px;font-size: 22px;font-weight:bold;text-align:right;}
	.menuList .active,.menuList .active .area_explain {background-color:transparent !important;border-color:transparent !important;text-align:center;}
	.menuList .active .area_name,.menuList .active span.tit_blk {display:none;}
	.menuList .active span.tit_val {display:block;}
	.menuList .select {border:1px solid #f7960c !important;background-color:#ffc36e !important;}
	.ranking li {font-size: 18px;height: 8.3333%;display: flex;align-items:center;color: #fff;padding: 0 30px;border-bottom:1px solid #434655;}
	.ranking li:last-child {border-bottom: none;}
	.ranking li span {margin-right: 5%;font-size: 30px;min-width: 43.9px;text-align: right;}
	.ranking li p {font-size: 25px;letter-spacing: -2px;width: 307.8px;}

	.fadeIn2 {animation-name:fadeIn2; -webkit-animation-name: fadeIn2;animation-duration: 1s;-webkit-animation-duration: 1s;animation-timing-function: ease-in-out;-webkit-animation-timing-function: ease-in-out;visibility: visible !important;}
	@keyframes fadeIn2 {
		0% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			transform: scale(0);
			opacity: 0.0;
		}
		60% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			transform: scale(1.1);
		}
		80% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			transform: scale(0.9);
			opacity: 1;
		}
		100% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			transform: scale(1);
			opacity: 1;
		}
	}
	@-webkit-keyframes fadeIn2 {
		0% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			-webkit-transform: scale(0);
			opacity: 0.0;
		}
		60% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			-webkit-transform: scale(1.1);
		}
		80% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			-webkit-transform: scale(0.9);
			opacity: 1;
		}
		100% {
			background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
			-webkit-transform: scale(1);
			opacity: 1;
		}
	}
	.blink { animation-name: blink;-webkit-animation-name: blink;animation-duration: 0.7s;-webkit-animation-duration: 0.7s;	animation-delay: 1s;-webkit-animation-delay: 1s;animation-timing-function: step-end;-webkit-animation-timing-function: step-end;animation-iteration-count: infinite;	-webkit-animation-iteration-count: infinite;}
	@keyframes blink {
		0% {background-color: #ffe0c5;color: #f95e09;}
		50% {background-color: transparent;}
	}
	@-webkit-keyframes blink {
		0% {background-color: #ffe0c5;color: #f95e09;}
		50% {background-color: transparent;}
	}
	.satisfaction>div.blink .graph .bar {transition-delay: 1s;background-color: #f17206;}

	/* system 레이어 */
	.frame_r .content .sub_cnt_tem {width:100%;}
	.frame_r .content .sub_cnt_tem .layer_wrap .menuList {min-height: 300px;}
	.frame_r .content .sub_cnt_tem #layer {min-width:1560px;}
	.frame_r .content .sub_cnt_tem .menu_wrap {width: 100%;}
	.frame_r .content .sub_cnt_tem .ranking_wrap {display: none;}
	.frame_r .content .sub_cnt_tem .title {font-size: 25px;}
	.frame_r .content .sub_cnt_tem .layer_wrap .menuList {width: 32%;padding: 90px 20px 20px 350px;margin-right: 2%;}
	.frame_r .content .sub_cnt_tem .layer_wrap .menuList:nth-child(3n+0) {margin-right: 0;}
	.frame_r .content .sub_cnt_tem .layer_ranking {display: none;}
</style>


<input type="hidden" id="LAYOUT_HV_TYPE" value="H">
<input type="hidden" id="LAYOUT_H_BY_V" value="1x1">
<input type="hidden" id="SCREEN_X" value="1920">
<input type="hidden" id="SCREEN_Y" value="1080">
<div id="layer" style="display: none;">
	<div class="menu_wrap">
		<h1 class="title">메뉴 선호도</h1>
		<div class="menu">
			<!-- 첫번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA1</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173241.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA1</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">김치콩나물국밥</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406881" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406881" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406881" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406881" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA1" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406881" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 두번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA2</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173241.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA2</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">나가사키</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406882" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406882" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406882" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406882" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA2" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406882" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 세번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA3</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173241.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA3</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">닭죽</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406883" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406883" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406883" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406883" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA3" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406883" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 네번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA4</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173236.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA4</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">김밥</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406875" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406875" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406875" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406875" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA4" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406875" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 다섯번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA5</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173241.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA5</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">참치김치</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406880" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406880" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406880" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406880" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA5" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406880" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 여섯번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA6</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173238.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA6</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">델라멘</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406877" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406877" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406877" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406877" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA6" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406877" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 일곱번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA7</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173239.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA7</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">돈육김치찌개</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406878" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406878" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406878" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406878" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA7" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406878" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 여덟번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA8</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173240.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA8</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">참치김치볶음밥</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406879" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406879" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406879" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406879" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA8" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406879" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 아홉번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer;"><p class="area_name">CA9</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="image"><img src="http://112.106.28.50/data/manager/recipe/E5BY/20190605/s20181017173237.png" alt=""></span></p></div>
				<div class="menuName active" style="cursor: pointer;"><p class="area_name">CA9</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">깥풍돈까스</span></p></div>
				<div class="satisfaction active" style="cursor: pointer; visibility: visible;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="score1" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406876" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="score2" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406876" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="score3" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406876" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="score4" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406876" data-course="1" data-hall-no="E5BY">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA9" data-contents-area-type="product" data-product-category="score5" data-restaurant-code="REST000196" data-menu-dt="2019-06-05" data-meal-type="2" data-menu-cd="1000406876" data-course="1" data-hall-no="E5BY">0</span>
					</div>
				</div>
			</div>
			<!-- 열번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer; visibility: hidden;"><p class="area_name">CA10</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="image"></span></p></div>
				<div class="menuName active" style="cursor: pointer; visibility: hidden;"><p class="area_name">CA10</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">&nbsp;</span></p></div>
				<div class="satisfaction" style="cursor: pointer; visibility: hidden;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="score1">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="score2">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="score3">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="score4">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA10" data-contents-area-type="product" data-product-category="score5">0</span>
					</div>
				</div>
			</div>
			<!-- 열한번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer; visibility: hidden;"><p class="area_name">CA11</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="image"></span></p></div>
				<div class="menuName active" style="cursor: pointer; visibility: hidden;"><p class="area_name">CA11</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">&nbsp;</span></p></div>
				<div class="satisfaction" style="cursor: pointer; visibility: hidden;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="score1">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="score2">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="score3">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="score4">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA11" data-contents-area-type="product" data-product-category="score5">0</span>
					</div>
				</div>
			</div>
			<!-- 열두번째 메뉴 -->
			<div class="menuList">
				<div class="menuImage active" style="cursor: pointer; visibility: hidden;"><p class="area_name">CA12</p><p class="area_explain"><span class="tit_blk">컨텐츠 영역<br>(메뉴 이미지)</span><span class="tit_val" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="image"></span></p></div>
				<div class="menuName active" style="cursor: pointer; visibility: hidden;"><p class="area_name">CA12</p><p class="area_explain"><span class="tit_blk">음식명</span><span class="tit_val" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="name" data-contetns-area-length="26">&nbsp;</span></p></div>
				<div class="satisfaction" style="cursor: pointer; visibility: hidden;">
					<div class="satisfactionType1">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star5.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="score1">0</span>
					</div>
					<div class="satisfactionType2">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star4.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="score2">0</span>
					</div>
					<div class="satisfactionType3">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star3.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="score3">0</span>
					</div>
					<div class="satisfactionType4">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star2.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="score4">0</span>
					</div>
					<div class="satisfactionType5">
						<div>
							<p style="background-image: url(&quot;http://112.217.190.203:9001/upload/template/REST000196/362/images/star1.png&quot;);"></p>
							<div class="graph">
								<div class="bar"></div>
							</div>
						</div>
						<span class="score" data-contents-area-id="CA12" data-contents-area-type="product" data-product-category="score5">0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ranking_wrap">
		<h1 class="title">실시간 선호 메뉴</h1>
		<ul class="ranking">
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
			<li class="ranking_li"><span></span><p class="menu_title"></p></li>
		</ul>
	</div>
<script type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script><script type="text/javascript" src="/Scripts/loadscript.js"></script><script type="text/javascript" src="/Scripts/satisfaction.js"></script></div>


            