




    <meta charset="utf-8">
    <title>기본 레이아웃</title>
    <style>
        body { 
            margin: 0; 
            padding: 0; 
            overflow: hidden; 
            background-color: #000;
        }
        #content1 { 
            width: 1920px; 
            height: 1080px; 
            position: absolute; 
            top: 0; 
            left: 0; 
            background-color: #fff;
        }
    </style>


    <div id="content1" data-contents-area-id="LD001" data-contents-area-type="I" data-product-category="IMAGE"><img src="https://localhost:44338/upload/contents/RST001/I/20260309/B.jpg" alt=""></div>


            